/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 100%;
	margin: 0 auto;
}

.site-header {}


.grid-row {
    margin:0;
}

.grid-column {
    min-height: 558px;
    float: left;
    display: inline-block;
    margin-top: -10px;
}


.grid-quarter {
    width: 25%;
}

.grid-third {
    width: 33.3333%;
    background-color: #B2967D;
}

.grid-half {
    width: 50%;
}

.grid-two-third {
    width:66.66%;
    background-color: #ECF8F8;
}


.malawisunset {
    width:250px;
    height:250px;
    margin-left: 20px;
    padding-bottom: -20px;
    margin-top: 18px;
    border-radius: 50%;
}

.malawibaobab {
    width:250px;
    height:250px;
    margin-left: 20px;
    padding-bottom: -20px;
    margin-top: 18px;
    border-radius: 50%;
}

.malawipines {
    width:250px;
    height:250px;
    margin-left: 20px;
    padding-bottom: -20px;
    margin-top: 18px;
    border-radius: 50%;
}

.malawiroots {
    width:250px;
    height:250px;
    margin-left: 20px;
    padding-bottom: -20px;
    margin-top: 18px;
    border-radius: 50%;
}

.grid-three-quarter {
    width: 75%;
}

.grid-whole {
    width: 100%;
}

.grid-whole video {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    background: url(sunset.mp4) no-repeat;
    background-size: cover;
}

.headercontent h1 {
    position: absolute;
    top: 40%;
    right: 39%;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    color: white;
}

.headercontent p {
    position: absolute;
    top: 60%;
    right: 41%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;

}

.site-content p {
    color:white;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    position:relative;
    margin-top: 58%;
    margin-left: 25%;

}

.firstpara {
    margin-top: 20px;
}


.site-content {

}

.site-footer {
    clear:both; 
    background-color: black;
    height:70px;
    color: white;
}

.site-footer ul {
    float:right;
}

.site-footer li {
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    float:left;
    color: white;
    list-style: none;
    padding-left:20px;
    padding-right:10px;
    padding-top: 10px;
}


/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




