/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/

.site-container {
	max-width: 100%;
	margin: 0 auto;
}

.site-header {

}

.grid-row {
    border: 5px solid red;
    margin:0 auto;
}

.grid-column {
    border: 5px solid blue;
    min-height: 300px;
    float: left;
    margin:0;
    padding:0;
    display: inline-block;
}


.grid-quarter {
    width: 25%;
}

.grid-third {
    width: 33.3333%;
}

.grid-half {
    width: 50%;
}

.grid-two-third {
    width:66.66%;
}


.malawisunset {
    width: 40%;
    margin-right: 10px;
    margin-left: 50px;
    margin-top: 10px;
}

.malawibaobab {
    width:250px;
    height:250px;
    margin: 10px;
}

.malawipines {
    width:220px;
    height:220px;
    margin-right: 10px;
    margin-left: 30px;

}

.malawiroots {
    position:relative;
    width:140px;
    height:140px;
    margin-top: 80px;
    margin-right: 10px;
    margin-left: 12px;
}

.grid-three-quarter {
    width: 75%;
}

.grid-whole {
    width: 100%;
}

.grid-whole video {
    position: relative;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    background: url(sunset.mp4) no-repeat;
    background-size: cover;
}

.headercontent h1 {
    position: absolute;
    top: 40%;
    right: 42%;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    color: white;
}

.headercontent p {
    position: absolute;
    top: 60%;
    right: 31%;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: white;

}




.site-content {

}
.site-footer {

}

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/




